.error-404 {
  text-align: center;
  align-items: center;
  padding: 20%;
  max-width: 80%;
}

.error-text {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}
