header {
  background: #111;
  color: #ddd;
  padding: 1vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-brand {
  display: flex;
  margin-left: auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ddd;
  margin: 0 2vh;
  white-space: nowrap;
  flex-wrap: wrap;
}

.navbar-nav {
  display: flex;
  list-style: none;
  white-space: nowrap;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0 1vw;
  font-size: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #ddd;
  padding: 0.8vh 1.2vh;
  border-radius: 0.4vh;
}

.nav-link:hover {
  background-color: #f0f0f0;
  color: #111;
}

@media only screen and (min-width: 600px) {
  .navbar-brand {
    font-size: 1.75rem;
  }
  
  .nav-item {
    font-size: 1.25rem;
  }
}
