main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.intro-section, .question-section {
  flex-grow: 1;
  padding: 3vh;
  box-sizing: border-box;
}

.avatar-container {
  display: block;
  margin: 5vh 0 4vh 0;
  text-align: center;
}

.avatar {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  object-fit: cover;
  border: 0.4vh solid #ddd;
  box-shadow: 0.5vh 0.5vh 2.2vh rgba(0, 0, 0, 0.5);
}

.greeting {
  text-align: center;
  text-shadow: 1.2vh 1.2vh 2.2vh rgba(0, 0, 0, 0.5);
}

.sub-line {
  text-align: center;
  text-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.5);
}

.question {
  text-align: center;
  text-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.5);
}

.question-section button {
  margin: 1vw;
  padding: 1.2vh 2.6vh;
  border-radius: 2vh;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0.5vh 0.5vh 1.1vh rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  background-color: #ddd;
}

.question-section button:hover {
  outline: none;
  background-color: #aaa;
}

.question-section #button-yes {
  color: #306844;
}

.question-section #button-no {
  color: #d92323;
}

.question-section #button-yes:hover {
  color: #306844de;
}

.question-section #button-no:hover {
  color: #d92323e2;
}

.response {
  margin: 2vh;
  text-align: center;
  text-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.3);
}
